 *{
     font-family: sans-serif;
     text-decoration: none;
     color: black; border-color:
     rgb(63,72,204);   }

body{
    background-color: rgb(153,217,234);  }

#ibd {
    font-size: 22px;
    color: rgb(0,0,0) ;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    position:relative;
}

.hervorhebung {
    color: rgb(63,72,204)}

#auswahl {
 
}

img{  
    background-color:rgb(0,0,0);
    border-width:10px;
    margin-top: 5%;
    left:27%;
    margin-bottom:4%;
    border-style: solid; 
    position: relative;
}
 
#we{
    font-size: 72px;
    color: rgb(63,72,204);
    position: relative;
    float:left;
    font-weight: bolder;
    margin-top: 12%;
    left: 21%;
}

#books {
    font-size: 72px;
    color: rgb(63,72,204);
    margin-top: 12%;
    margin-right: 15%;
    float: right;
    font-weight: bolder;
    position: relative;
}


a:link {
    display:block; width: 200px; height: 30px;
    border-style: solid;
    border-width: 10px; background-color: rgb(0,162,232);
    left:42.5%; padding-top:15px;
    position:relative;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
}

a:hover {background-color: rgb(63,72,204); }

