 *{font-family: sans-serif; text-decoration: none; color: black; border-color: rgb(63,72,204);}

body{
    background-color: rgb(153,217,234); 
}
#ibd { font-size: 22px;
     color: rgb(0,0,0) ;
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    position:relative;
    box-sizing: 10;
        }
.her { color: rgb(63,72,204);
}

#bild {  background-color:rgb(0,0,0); ;
        border-color: rgb(63,72,204);
         border-width:10px;
    margin-top: 100px;
    margin-right: 500px;
    margin-bottom: 100px;
    margin-left: 500px;
    border-style: solid; 
    position: relative;
         }
 
#we { font-size: 72px;
     color: rgb(63,72,204);
    position: relative;
    margin-top: 200px;
    margin-left: 300px;
    float: left;
    font-weight: bolder;
        }

#books {font-size: 72px;
     color: rgb(63,72,204);
    margin-top: 200px;
    margin-right: 200px;
    float: right;
    font-weight: bolder;
    position: relative;
        }

#auswahlknoepfe {
                  position:relative;
                  text-align: center;
                margin-top: -40px;
                font-size: 18px;
                font-weight:bold;
    
                }

a:link { display:block; width: 200px; height: 30px;
     border-style: solid;
    border-width: 10px; background-color: rgb(0,162,232);
    margin:auto; padding-top:20px;
        } 

a:hover {background-color: rgb(63,72,204); }

<<<<<<< Updated upstream
#ba { color: rgb(63,72,204);
      position:relative;
      margin-left: 200px;
      margin-top: 30px;
    margin-bottom: 100px;
      font-size: 22px;
    font-weight: bolder;
}

#erster { padding-right: 15px;}
=======

>>>>>>> Stashed changes
    
